<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# link to css #}
        <link rel="stylesheet" href="../../static/styles.css">
        {# link to icon library #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{% block title %}{% endblock %}</title>
        {% block head_script %}{% endblock %}
    </head>
    <body class="wrapper">
        <header class="full-width">
            <nav>
                <div class="catalog">
                    <a class="nav-button" href="{{url_for('show_catalog')}}">
                        <i class="fa fa-home"> Catalog</i>
                    </a>
                </div>
                <div class="user-name">
                    {# if user is logged in show user name#}
                    {% if user != None: %}
                        <span class="user-name">
                            Welcome {{user.name}}!
                        </span>
                    {% endif %}
                </div>
                <div class="log-status">
                    <a class="nav-button"
                        {% if user == None: %}
                            href="{{url_for('show_login')}}"
                        {% else %}
                            href="{{url_for('gdisconnect')}}"
                        {% endif %}
                    >
                        {% if user == None: %}
                            <i class="fa fa-sign-in">Login</i>
                        {% else %}
                            <i class="fa fa-sign-out">Logout</i>
                        {% endif %}
                    </a>
                </div>
            </nav>
        </header>
        <main class="container">
            <section id="flash-message">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </section>
            {% block content %}
            {% endblock %}            
        </main>        
        {% block script %}
        {% endblock %}
        <footer>
        </footer>
    </body>
</html>