<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        {% block head_script %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <div class="catalog">
                    <a href="{{url_for('show_catalog')}}">Catalog</a>
                </div>
                <div class="login">
                    {% block login %}{% endblock %}
                </div>
            </nav>
        </header>
        <main>
            <section class="flash-messages">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </section>
            {% block content %}
            {% endblock %}            
        </main>        
        {% block script %}
        {% endblock %}
    </body>
</html>