{% extends 'base.html' %}
{% block title %}Catalog{% endblock %}
{% block content %}
    <section class="categories">
        <h2>Categories</h2>
        <ul id="category-list">
            {% for category in categories: %}
                <li class="category">
                    <a href="{{url_for(
                        'show_category',category_name=category.name)}}"
                    >
                        {{category.name}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section class="items">
        <h2>Items</h2>
        <ul id="itemList">
            {% for item in items: %}
                <li class="item">
                    <a href="{{url_for(
                        'show_item', category_name=item.category.name, item_name=item.name)}}">
                        {{item.name}}</a>
                    <span class="item-category">({{item.category.name}})</span>
                </li>
            {% endfor %}
        </ul>
        {% if user != None %}
            <a 
                class="new-item" 
                href="{{url_for('create_item')}}"
            >
                <i class="fa fa-plus"> New Item</i>
            </a>
        {% endif %}
    </section>
{% endblock %}