{% extends 'base.html' %}
{% block title %}Catalog{% endblock %}
{% block login %}
    <a 
        {% if user == None: %}
            href="{{url_for('show_login')}}"
        {% endif %}
        {% if user != None: %}
            href="{{url_for('gdisconnect')}}"
        {% endif %}
    >
        {% if user == None: %}
            Login
        {% endif %}
        {% if user != None: %}
            Logout
        {% endif %}
    </a>
{% endblock %}

{% block content %}
    <ul id="catalogList">
        {% for category in categories: %}
            <li><a href={{url_for('show_category',category_name=category.name)}}>{{category.name}}</a></li>
        {% endfor %}
    </ul>
    <ul id="itemList">
        <a href="{{url_for('create_item')}}">create new item</a>
        {% for item in items: %}
            <li>
                {{item.name}} 
                <span class="item_category">({{item.category.name}})</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}