<!-- TO DO:
    focus on name input box
-->
{% extends 'base.html' %}
{% block title %}
    {{'Catalog/Creata New Item'}}
{% endblock %}

{% block content %}
    <section class="content-container full-page-container">
        <h2>Add New Item</h2>
        <a 
            class="button cancel-button" 
            href="{{url_for('show_catalog')}}"
        >
            <i class="fa fa-times"> Cancel</i>
        </a>
        <form class="form" method="post" action="{{url_for('create_item')}}">
            <div class="form-field">
                <label for="create-item-name">Name:</label>
                <input class="input-field" id="create-item-name" type="text" name="name">
            </div>
            <div class="form-field">   
                <label for="create-item-description">Description:</label>
                <input class="input-field description" id="create-item-description" type="text" name="description">
            </div>
            <div class="form-field">    
                <label for="create-item-category">Category:</label>
                <select class="input-field" id="create-item-category" name="category">
                    {% for category in categories: %}
                        <option value={{category.id}}>
                        {{category.name}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="control-buttons">
                <input class="button update-button" type="submit" value="Add Item">
            </div>
        </form>
    </section>
{% endblock %}