{% extends 'base.html' %}

{% block title %}
    {{'Catalog : {}/delete'.format(item.name)}}
{% endblock %}

{% block content %}
    <h2 id="delete_confirmation_question">
        Are you sure you want to delete:</h2>
    <form method="post" 
        action="{{url_for('delete_item', item_name=item.name)}}">
        <p>
            {{item.name}} 
            <span class="item-category">({{item.category.name}})</span>
        </p>
        <p>{{item.description}}</p>
        <input type="submit" value="Delete Item">
        <a href="{{url_for('show_category',category_name=item.category.name)}}">Cancel</a>
    </form>
{% endblock %}