<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Create New Item</title>
    </head>
    <body>
        <form method="post" action="{{url_for('create_item')}}">
            <p>Item Name:</p>
            <input type="text" name="name">
            <p>Item Description:</p>
            <input type="text" name="description">
            <p>Category:</p>
            <select name="category">
                {% for category in categories: %}
                <option value={{category.id}}
                    {% if category.name == category_name %}
                        selected
                    {% endif %}
                    >
                {{category.name}}
                </option>
                {% endfor %}
            </select>
            <input type="submit" value="Create Item">
        </form>
    </body>
</html>