<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Items of Category</title>
    </head>
    <body>
        <h2>{{category.name}}</h2>
        <a href="{{url_for('create_item', category_id=category.id)}}">
            create new item</a>
        <ul id="item_list">
            {% for item in items: %}
                <li class="item">
                    {{item.name}}
                    <div class="item_description">{{item.description}}</div>
                    <a class="edit_link" href={{url_for('edit_item', item_id=item.id)}}>Edit</a>                    
                    <a class="delete_link" href={{url_for('delete_item', item_id=item.id)}}>Delete</a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>