{% extends 'base.html' %}
{% block title %}
    {{'Catalog: {}: {}'.format(category_name, item_name)}}
{% endblock %}
{% block content %}
    <section class="content-container full-page-container show-item">
        <h2>{{item.name}}</h2>
        <a 
            class="button cancel-button" 
            href="{{url_for('show_category', category_name=item.category.name)}}"
        >
            <i class="fa fa-times"></i>
        </a>
        <div class="form">
            <p>{{item.description}}</p>
            {# Add edit and delete buttons if user is owner#}
            {% if item.user_id == user.id: %}
                <div class="edit-delete">
                    <a 
                        class="edit-button" 
                        href="{{url_for('edit_item',
                        category_name=item.category.name,
                        item_name=item.name,
                        item_id=item.id)}}"
                    >
                        <i class="fa fa-edit"> Edit</i>
                    </a>                    
                    <a 
                        class="delete-button" 
                        href="{{url_for('delete_item', 
                        category_name=item.category.name,
                        item_name=item.name,
                        item_id=item.id)}}"
                    >
                        <i class="fa fa-trash"> Delete</i>
                    </a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}